body {
  font-family: "Permanent Marker", cursive;
}

body.light {
  background: linear-gradient(
    180deg,
    rgb(199, 231, 241) 0%,
    rgb(103, 200, 234) 100%
  );
}

body.dark {
  background: linear-gradient(180deg, rgb(12, 9, 86) 0%, rgb(15, 13, 94) 100%);
}

h4 {
  font-size: 16px;
}

.card {
  border: 1px solid rgba(0, 80, 255, 0.35);
  margin: 50px auto;
  padding: 30px;
}

.card-body {
  padding: 10px 20px;
}

.top-section .input-city {
  margin: 20px auto;
}

.top-section .search-button {
  background: transparent;
  border: none;
  margin: 20px auto;
}

.top-section .search-icon {
  color: blue;
}

.middle-section {
  margin: 30px auto;
  padding-left: 75px;
}

.middle-section .displayed-location-with-icon h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.middle-section .current-weather-and-temperature h2 {
  font-size: 50px;
}

.middle-section .current-weather-icon {
  min-width: 100px;
  position: relative;
  top: -20px;
}

.current-temperature .temperature-units-conversion {
  font-size: 20px;
  position: relative;
  top: -10px;
}

.current-temperature .active {
  color: rgb(0, 0, 0);
  cursor: default;
  text-decoration: none;
}

.current-temperature .active:hover {
  text-decoration: none;
}

.middle-section .right-side h3 {
  font-size: 16px;
}

.middle-section .right-side .last-updated {
  color: rgb(25, 25, 112);
}

.middle-section .current-day h3,
.middle-section .current-date h3,
.middle-section .current-time h3,
.middle-section .current-humidity h3,
.middle-section .current-wind h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.bottom-section {
  margin: 20px auto;
  text-align: center;
}

.bottom-section .forecast-min-and-max-celsius-temperature,
.bottom-section .forecast-min-and-max-fahrenheit-temperature {
  padding: 0;
  margin: 0 auto;
}

.forecast-weather-0,
.forecast-weather-1,
.forecast-weather-2,
.forecast-weather-3,
.forecast-weather-4,
.forecast-weather-5 {
  margin: 0 auto;
}

.forecast-min-temperature-0,
.forecast-min-temperature-1,
.forecast-min-temperature-2,
.forecast-min-temperature-3,
.forecast-min-temperature-4,
.forecast-min-temperature-5 {
  text-align: right;
}

.forecast-max-temperature-0,
.forecast-max-temperature-1,
.forecast-max-temperature-2,
.forecast-max-temperature-3,
.forecast-max-temperature-4,
.forecast-max-temperature-5 {
  text-align: left;
}

.find-current-location {
  text-align: center;
  margin-top: 30px;
}

.find-current-location h2 {
  color: rgb(128, 128, 128);
  display: inline;
  font-size: 12px;
  margin: 10px;
}

.find-current-location .current-location-button {
  background: white;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 10px;
  margin: 10px;
  transition: all 200ms ease-in-out;
}

.find-current-location .current-location-button:hover {
  background-color: rgb(210, 210, 210);
}

.find-current-location #current-location-icon-in-button {
  color: rgb(255, 0, 0);
}

footer {
  margin: 40px auto;
  text-align: center;
}

footer .open-source-code.light {
  color: rgb(13, 110, 253);
}

footer .developer-name.light {
  color: rgb(33, 37, 41);
}

footer .open-source-code.dark {
  color: rgb(130, 171, 234);
}

footer .developer-name.dark {
  color: rgb(255, 255, 255);
}
